.description_container {
    display: flex;
    flex-direction: row;
}
  
.button {
  border: 0px;
  border-radius: 48px;
  padding: 22px 30px;
  width: 260px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: .5s;
  z-index: 1;
  text-align: center;
}
  
.button:before {
  content: '';
  background: #efece5;
  position: absolute;
  width: 100%;
  top: 200px;
  left: 0;
  height: 100%;
  transition: 0.3s linear;
  z-index: -1;
}
  
.button:hover:before {
  top: 0px;
}
  
.button:hover {
  color: #151515;
}

.read_more {
  background: #151515;
}

.coffee_image {
  background: url('../../../public/assets/aroma_photo.jpg') repeat-y center;
  background-size: 100% auto;
  width: 33%;
  height: auto;
  transition: .5s;
  position: relative;
}

.girl_image {
  background: url('../../../public/assets/aroma_photo_02.jpg') repeat-y center;
  background-size: 100% auto;
  width: 33%;
  height: auto;
  transition: .5s;
}

.hovered {
  background-size: 110% auto; 
}

.green_bg {
  background-color: #4d8b55;
  width: 34%;
}

.branch_bg {
  background: url('../../../public/assets/branch-bg.png') no-repeat right bottom;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 120px 60px;
  height: auto;
}

.h2_black h2,
.h2_white h2 {
  font-size: 64px;
  font-weight: 700;
}

.h2_black {
  color: black;
}

.h2_white {
  color: white;
}

.text {
  font-size: 14px;
  color: white;
  line-height: 1.5;
  padding-top: 30px;
  padding-bottom: 80px;
  max-width: 260px;
}

.stamp{
  position: absolute;
  right: 10%;
  top: 10%;
}

@media screen and (max-width: 1200px) {
  .girl_image,
  .coffee_image {
    display: none;
  }

  .green_bg {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .h2_black h2,
  .h2_white h2 {
    font-size: 80px;
  }
}

@media screen and (max-width: 768px) {
  .description {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .h2_black h2,
  .h2_white h2 {
    font-size: 64px;
  }

  .text {
    max-width: 360px;
  }
}

@media screen and (max-width: 600px) {
  .button {
    width: 180px;
  }
}

@media screen and (max-width: 480px) {
  .h2_black h2,
  .h2_white h2 {
    font-size: 36px;
  }
  
  .description {
    padding: 80px 20px;
  }
}
