.bg {
    background: url('/assets/grow-video-bg.jpg');
    height: 100vh;
}

.black_bg {
    background-color: rgba(21, 21, 21, 0.5);
    height: 100vh;
}

.video_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video_container h2:nth-child(1) {
    color: #4d8b55;
    font-size: 80px;
    font-weight: 700;
    padding-bottom: 30px;
    text-align: center;
}

.video_container h2:nth-child(2) {
    color: white;
    font-size: 80px;
    font-weight: 700;
    padding-bottom: 30px;
    text-align: center;
}

.play_button {
    font-size: 100px;
    color: var(--color-fern);
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
}

.play_button:hover {
    transform: scale(1.1);
    color: white;
    filter: drop-shadow(0 15px 30px rgba(77, 139, 85, 0.5));
}

.modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding-top: 100px;
}

.modal_content {
    position: relative;
    width: 100%;
    padding-top: 56.25%
}

.close {
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.video {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: none;
}


@media screen and (max-width: 992px) {
    .video_container h2 {
        font-size: 64px !important;
    }
}

@media screen and (max-width: 480px) {
    .video_container h2 {
        font-size: 36px !important;
    }
}