.green_background {
    background: #4d8b55;
    background-image: url('../../../public/assets/leaf-background.png');
    background-repeat: repeat-x;
    position: relative;
    z-index: 1;
    min-height: 50px;
}
  
.image {
    display: flex;
    width: 100%; 
    justify-content: center;
    flex-shrink: 0;
}

  
.coffeeImage {
    max-width: 100%;
    margin-top: -300px;
}


.smoke_wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}

.smoke_wrap img {
    max-width: 100%;
}

.smoke_animation{
    position: relative;
}

.smoke,
.smoke2,
.smoke3 {
  filter: blur(5px);
  transform-origin: 50% 50%;
}

.smoke {
  animation-delay: 0.5s;
  animation: smoke1 3s linear infinite;
}

.smoke2 {
  animation-delay: 1.5s;
  animation: smoke2 3s linear infinite;
}

.smoke3 {
  animation-delay: 2.5s;
  animation: smoke3 4s linear infinite;
}

@media screen and (max-width: 992px) {
    .smoke_wrap{
        min-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .smoke_wrap{
        min-width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .coffeeImage{
        margin-top: -70%;
    }

    .smoke_wrap{
        min-width: 160px;
    }
}


@keyframes smoke1 {
  0% {
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }

  25% {
    transform: translateY(-30px) scale(-1, 1.05);
    opacity: 0.5;
  }

  50% {
    transform: translateY(-60px) scale(-1, 1.1);
    opacity: 1;
  }

  75% {
    transform: translateY(-90px) scale(-1, 1.15);
    opacity: 0.5;
  }

  100% {
    transform: translateY(-120px) scale(-1, 1.2);
    opacity: 0;
  }
}

@keyframes smoke2 {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    transform: translateY(-30px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    transform: translateY(-60px) scale(1.1);
    opacity: 1;
  }

  75% {
    transform: translateY(-90px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    transform: translateY(-120px) scale(1.2);
    opacity: 0;
  }
}

@keyframes smoke3 {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    transform: translateY(-40px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    transform: translateY(-80px) scale(1.1);
    opacity: 1;
  }

  75% {
    transform: translateY(-120px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    transform: translateY(-160px) scale(1.2);
    opacity: 0;
  }
}