.cup img {
    width: 660px;
}
  
.superior_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
  
.first_part, .second_part {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 90px;
}
  
.second_part {
    text-align: right;
}
  
.first_part {
    transition: transform 1s ease-out;
    transform: translateX(-100%);
}
  
.second_part {
    transition: transform 1s ease-out;
    transform: translateX(100%);
}
  
.superior_container.animate .first_part {
    transform: translateX(0);
}
  
.superior_container.animate .second_part {
    transform: translateX(0);
}
  
.image img {
    width: 70px;
    height: 70px;
}
  
.item {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
  
.item_info {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
  
.item_text {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.75;
}
  
.item_h6 {
    font-size: 14px;
    font-weight: 800;
}
  
@media screen and (max-width: 1440px) {
    .cup img {
      width: 550px;
    }
}
  
@media screen and (max-width: 1200px) {
    .cup img {
      display: none;
}
  
    .superior_container {
      flex-direction: column;
    }
  
    .first_part {
      padding-bottom: 90px;
    }
  
    .first_part, .second_part {
      width: 100%;
      text-align: left;
    }
  
    .item {
      justify-content: center;
    }
  }
  